[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
dask = {extras = ["complete"]}
toolz = "*"
sqlalchemy = "*"
bokeh = "*"
pyarrow = "*"
gcsfs = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.6"
